body {
    background-color: #F6F6F6;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav {
    background-image: url('./core/res/wave.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 50vh;
}

.logo {
    cursor: pointer;
    opacity: 0.9;
}

.logo:hover {
    opacity: 1;
}