body {
    background-color: #F6F6F6;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* navigation */

.nav{
    background-image: url('./core/res/wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
}

.logo {
    cursor: pointer;
    opacity: 0.9;
}

.logo:hover {
    opacity: 1;
}

.navbar {
    background-color: #191919;
}

/* log in */

.login {
    margin-top: -6rem;
}

.form-control {
    border-radius: unset;
    font-size: 0.9rem;
}

.form-control:focus {
    border-color: none;
    /* box-shadow: 0px 0.2px 0.2px #FFFFFF inset, 0px 0px 2px #0161b6; */
    box-shadow: none;
}

.form-control:enabled {
    border-color: #ffffff;
    border-bottom: 1.2px solid #330050;
}
/* Sign up login forms */

.form-signin, .form-signup {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;   
}

.form-label-group {
    position: relative;
    margin-bottom: 0.4rem;
}

.form-label-group > input,
.form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

.btn-login {
    background-color: #191919 !important;
}

.btn {
    font-size: 0.9em;
}

.signup {
    font-size: 0.8em;
}

/* dashboard */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 100px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
    top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; 
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-size: 0.875rem;
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar-menu {
    list-style-type: none;
}

.core {
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 700;
    margin-left: -14px;
    margin-bottom: 10px;
}

.nav-item {
    font-weight: 500;
    padding: 4px;
    cursor: pointer;
    opacity: 0.9;
}

.nav-item:hover {
    color: #000000;
    opacity: 1;
}

.main {
    padding-top: 100px;
}

.banner {
    margin-left: -24px;
    margin-top: -4px;
    width: 83.3vw;
    background-color: #7223D7 !important;
    min-height: 220px;
}

.calendar {
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 30px !important;
    padding-right: 30px !important;
    cursor: pointer;
    margin-top: -54px;
    letter-spacing: 1.6px;
    word-spacing: 4px;
}

.start-test {
    border-radius: 12px !important;
    min-height: 44vh;
    margin-top: -50px;
}


.practice {
    font-size: 1.6rem;
    font-weight: 500;
    opacity: 0.9;
}

.test-desc {
    opacity: 0.9;
}